<h1>{{ 'cm.email.reset_password.hello'|trans }}</h1>

<p>{{ 'cm.email.reset_password.intro'|trans }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'cm.email.reset_password.expire'|trans({'{expireIn}': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }) }}</p>

<p>{{ 'cm.email.reset_password.greetings'|trans }}</p>
